.Head_container__yYluO {
	padding: 20px;
	flex-shrink: 1;
	max-height: 50px;
	display: flex;
	color: cyan;
	font-size: 40px;
	font-family: monospace;
}
.Head_textBold__EZePE {
	font-weight: 700;
}
.Home_container__bCOhY {
	display: flex;
	overflow: hidden;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #001219;
}
